h1 {
  padding-left: 3cm;
}

form {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
}

input {
  border: none;
  border-radius: 4px;
  display: block;
  margin: 8px 0;
  padding: 12px 20px;
  width: 260px;
}

button {
  background-color: #397cd5;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  width: 300px;
  padding: 14px 20px;
}